
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// Override default color variables
$blue: #080b16 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

//$body-color: #5a7dc2 !default;
$body-color: #363f5c !default;


// Override font
$font-family-sans-serif: DM Sans, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


// Override Navbar
$navbar-brand-font-size: 2rem !default;
$navbar-nav-link-padding-x: 0.9rem !default;
$navbar-brand-padding-y: .45rem !default;


// importing Bootstrap
@import "bootstrap/scss/bootstrap.scss";
//@import "bootstrap/dist/css/bootstrap.min.css";

.btn-block {
    display: block;
    width: 100%;
}

section {
    overflow-x: auto;
}

/*=================== Footer ====================*/
footer {
    text-align: center;
    margin: 2em 0;
}
/*=================== Not Found Page ====================*/
.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.not-found-page h1 {
    font-size: 4rem;
}


/*=================== Pricing Section ====================*/
.pricing-section {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    padding: 5em;
}

.pricing-card {
    padding: 1rem;
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid #CCC;
}

.pricing-card.popular {
    border: none;
    outline: 3px solid lighten($primary, 30) !important;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pricing-card.popular::before {
    content: "Popular";
    background: lighten($primary, 30);
    border-radius: 5px;
    color: #FFF;
    font-size: 0.8rem;
    padding: 2px 10px;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.pricing-card .pricing-title {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

.pricing-card .pricing {
    font-size: 2rem;
    text-align: center;
    margin: 0.5em 0;
}

.pricing-card .pricing .small-text {
    font-size: 0.5em !important;
    color: $text-muted;
}

.pricing-card .pricing-body {
    text-align: left;
}

.pricing-card .pricing-body ul {
    list-style: none;
    margin: 0;
    padding: 1em;
}

.pricing-card .pricing-body ul li {
    margin: 0.3em 0;
}

/*======================= infobox =========================*/
.infobox {
    border-radius: 15px;
    //min-width: 200px;
}

.infobox .infobox-icon {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: padding .3s;
}

.infobox.bg-primary .infobox-icon {
    background-color: rgba(255, 255, 255, 0.1);
}

.infobox:hover .infobox-icon {
    padding: 1.5rem;
}

/*======================= fullscreen-loading =========================*/
.fullscreen-loading {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
}

/*======================= dropzone =========================*/

.dropzone {
    position: relative;
    color: #666;
    background-color: #EEE;
    border-radius: 10px;
    border: 2px dashed #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    min-height: 7rem;
    overflow: hidden;
    z-index: 1;
}

.dropzone.focused {
    // color: lighten($blue, 50%);
    // border-color: lighten($blue, 50%);
    // background-color: lighten($blue, 90%);
    color: lighten($blue, 20%);
    border-color: lighten($blue, 20%);
    background-color: lighten($blue, 80%);
    cursor: unset;
}

.dropzone p {
    margin: 0;
}

.dropzone.completed {
    color: $green;
    border-color: $green;
    background-color: lighten($green, 50%);
}

.dropzone .progress {
    position: absolute;
    display: block;
    background-color: lighten($blue, 70%);
    width: 0%;
    height: 100%;
    border-radius: 0px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.dropzone.focused .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #EEE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 2;
}

.dropzone.focused .close:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/*======================= spinner-border =========================*/
.spinner-border {
    border-width: 0.15em;
}

.spinner-border-sm {
    border-width: 0.09em;
    --bs-spinner-width: 1.3rem;
    --bs-spinner-height: 1.3rem;
}

@media screen and (max-width: 768px)
{
    .pricing-section {
        flex-direction: column;
        width: 100%;
        //margin: 1em;
        padding: 2em;
    }

    .pricing-section .pricing-card {
        margin-bottom: 1em;
    }
}

/*======================= payment-method =========================*/

.payment-method {
    border-radius: 10px;
    border: 1px solid #EEE;
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-method:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.payment-method.active {
    outline: 2px solid lighten($blue, 20%);
    background-color: lighten($blue, 88%);
}

.payment-method > input[type=radio] {
    margin: 0;
}

/*======================= Playground =========================*/
.playground {
    display: flex;
    height: 100%;      // with navbar: calc(100vh - 79px)
}

.playground-sidebar {
    padding: 1em;
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;
    //color: #EEE;
    color: lighten(#363f5c, 60%);
    background-color: #363f5c;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    //overflow-y: auto;
}

.playground-sidebar .dropzone {
    background-color: lighten(#363f5c, 10%);
    color: #EEE;
}

.playground-sidebar .chat-labels-list {
    overflow-y: auto;
    //flex-grow: 1 !important;
}

.playground-sidebar .sidebar-bottom-section {
    margin-top: auto;
}

.playground-chat-section {
    position: relative;
    flex-grow: 1;
    height: 100vh;
    padding: 0;
}

.playground-chat-section section {
    height: 100%;
}

.playground-chat-section .chats {
    overflow-y: auto;
}

.playground-chat-section .prompt-input {
    //box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2)
}

.playground-chat-section .prompt-input .btn {
    width: clamp(90px, 10%, 150px);
}

.playground-chat-section .chats .container {
    display: flex;
    flex-direction: column;
}

.playground-chat-section .chats .container .message {
    //border: 1px solid $primary;
    border-radius: 15px;
    padding: 0.8em 1.2em;
    margin: 1em 0;
    width: fit-content;
}

.playground-chat-section .chats .container .user-message {
    background-color: #363f5c;
    color: #dadada;
    margin-top: 2em;
    margin-left: auto;
    border-end-end-radius: 0;
}

.playground-chat-section .chats .container .ai-message {
    background-color: #f0f0f0;
    color: lighten($primary, 10%);
    border-bottom-left-radius: 0;
}

.chat-label {
    background-color: lighten(#363f5c, 10%);
    padding: 0.7em 1em;
    margin-top: 1em;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.chat-label:hover {
    background-color: lighten(#363f5c, 12%);
}

.chat-label .delete {
    background-color: lighten(#363f5c, 5%);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 12px;
    top: 5px;
    right: 4px;
    border-radius: 6px;
}

.chat-label .delete:hover {
    background-color: lighten(#363f5c, 7%);
}

.toggle-sidebar-button {
    position: absolute;
    top: 20px;
    left: 25px;
}

.playground-sidebar h1,
.playground-sidebar h2,
.playground-sidebar h3,
.playground-sidebar h4,
.playground-sidebar h5,
.playground-sidebar h6 {
    color: lighten(#363f5c, 60%)
}

.playground-sidebar .quota {
    padding: 1em;
}

.playground-sidebar .quota span {
    font-size: 0.8rem;
    color: lighten(#363f5c, 50%)
}

.playground-sidebar .profile {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8em;
    margin: 0.6em 1em 0.2em 1em;
}

.playground-sidebar footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 20px 0 0 0;
}

.playground-sidebar footer a {
    display: block;
    color: lighten(#363f5c, 50%);
    padding: 0.1em 0.7em;;
}
.playground-sidebar footer a:hover {
    color: lighten(#363f5c, 60%)
}
